<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#HackerRank-SQL-Solutions,-using-Pandas" data-toc-modified-id="HackerRank-SQL-Solutions,-using-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>HackerRank SQL Solutions, using Pandas</a></span><ul class="toc-item"><li><span><a href="#Higher-than-75-marks" data-toc-modified-id="Higher-than-75-marks-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Higher than 75 marks</a></span></li><li><span><a href="#Employee-Names" data-toc-modified-id="Employee-Names-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Employee Names</a></span></li><li><span><a href="#Employee-Salaries" data-toc-modified-id="Employee-Salaries-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Employee Salaries</a></span></li></ul></li></ul></div>

# HackerRank SQL Solutions, using Pandas

## Higher than 75 marks
Question: Query the Name of any students in Students who scored higher than 75 marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters such as Bobby, Robby, etc., secondary sort them by ascending ID.

In [48]:
# There are three conditions.
# condition 1: higher than 75 marks
# condition 2: order by the last three characters of each name
# condition 3: if the condition 2 is the same, secondary sort them by ID in ascending order
#, which means that smaller one comes first

import pandas as pd

students = pd.read_csv('Students.csv')
result = students[students['Marks']>75].reset_index(drop=True)

for i, name in enumerate(result['Name']):
    result.loc[i, 'LastThree'] = name[-3:]
    
result = result.sort_values(by=['LastThree', 'ID'], ascending=(True, True))['Name']
result

0    Ashley
1     Julia
2    Belvet
Name: Name, dtype: object

## Employee Names

Question: Print a list of employee names from the Employee table in alphabetical order

In [2]:
import pandas as pd

employee = pd.read_csv('Employee.csv')
employee.sort_values(['name'])['name']

1      Angela
6      Bonnie
2       Frank
9         Joe
5    Kimberly
4        Lisa
7     Michael
3     Patrick
0        Rose
8        Todd
Name: name, dtype: object

## Employee Salaries

Question: Print a list of employee names for employees in Employee having a salary greater than $ 2,000 per month who have been employeed for less than 10 months.

In [8]:
# There are two conditions.
# Condition 1: a salary is greater than $ 2,000 per month.
# Condition 2: one has been employeed for less than 10 months.

import pandas as pd

employee = pd.read_csv('Employee.csv')
employee[(employee['salary']>2000) & (employee['months']<10)]['name']

1     Angela
7    Michael
8       Todd
9        Joe
Name: name, dtype: object