<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#HackerRank-SQL-Solutions,-using-Pandas-and-SQL" data-toc-modified-id="HackerRank-SQL-Solutions,-using-Pandas-and-SQL-1">HackerRank SQL Solutions, using Pandas and SQL</a></span><ul class="toc-item"><li><span><a href="#Higher-than-75-marks" data-toc-modified-id="Higher-than-75-marks-1.1">Higher than 75 marks</a></span><ul class="toc-item"><li><span><a href="#Pandas" data-toc-modified-id="Pandas-1.1.1">Pandas</a></span></li><li><span><a href="#SQL" data-toc-modified-id="SQL-1.1.2">SQL</a></span></li></ul></li><li><span><a href="#Employee-Names" data-toc-modified-id="Employee-Names-1.2">Employee Names</a></span></li><li><span><a href="#Employee-Salaries" data-toc-modified-id="Employee-Salaries-1.3">Employee Salaries</a></span></li><li><span><a href="#Type-of-Triangle" data-toc-modified-id="Type-of-Triangle-1.4">Type of Triangle</a></span></li><li><span><a href="#The-PADS" data-toc-modified-id="The-PADS-1.5">The PADS</a></span></li><li><span><a href="#Occupations" data-toc-modified-id="Occupations-1.6">Occupations</a></span></li></ul></li></ul></div>

# HackerRank SQL Solutions, using Pandas and SQL

## Higher than 75 marks
Question: Query the Name of any students in Students who scored higher than 75 marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters such as Bobby, Robby, etc., secondary sort them by ascending ID.

### Pandas

In [162]:
# There are three conditions.
# condition 1: higher than 75 marks
# condition 2: order by the last three characters of each name
# condition 3: if the condition 2 is the same, secondary sort them by ID in ascending order
#, which means that smaller one comes first

import pandas as pd

students = pd.read_csv('Students.csv')
result = students[students['Marks']>75].reset_index(drop=True)

for i, name in enumerate(result['Name']):
    result.loc[i, 'LastThree'] = name[-3:]
    
result = result.sort_values(by=['LastThree', 'ID'], ascending=(True, True))['Name']
result

0    Ashley
1     Julia
2    Belvet
Name: Name, dtype: object

### SQL

In [202]:
# creating a database
from pathlib import Path
Path('students.db').touch()

# connecting the database
import sqlite3
conn = sqlite3.connect('students.db')
c = conn.cursor()

# creating a table in the database
c.execute('''DROP TABLE students''')
c.execute('''CREATE TABLE students (ID int, Name text, Marks int)''')

# write the data to a sqlite table
students.to_sql('students', conn, if_exists='replace', index = False)

# execute sql query 
c.execute('''SELECT Name FROM students 
             WHERE Marks > 75 
             ORDER BY substr(Name, -3, 3) ASC, ID ASC''')
# substr function has three arguments: string, starting point, length I want
c.fetchall()

[('Ashley',), ('Julia',), ('Belvet',)]

## Employee Names

Question: Print a list of employee names from the Employee table in alphabetical order

In [2]:
import pandas as pd

employee = pd.read_csv('Employee.csv')
employee.sort_values(['name'])['name']

1      Angela
6      Bonnie
2       Frank
9         Joe
5    Kimberly
4        Lisa
7     Michael
3     Patrick
0        Rose
8        Todd
Name: name, dtype: object

## Employee Salaries

Question: Print a list of employee names for employees in Employee having a salary greater than $ 2,000 per month who have been employeed for less than 10 months.

In [ ]:
# There are two conditions.
# Condition 1: a salary is greater than $ 2,000 per month.
# Condition 2: one has been employeed for less than 10 months.

import pandas as pd

employee = pd.read_csv('Employee.csv')
employee[(employee['salary']>2000) & (employee['months']<10)]['name']

## Type of Triangle

Question: Write a query indentifying the type of each record in the TRIANGLES table using its three side lengths. Output one of the following statements for each record in the table:
- Equilateral: it's a triangle with 3 sides of equal length
- Isosceles: it's a triangle with 2 sides of equal length
- Scalene: it's a triangle with 3 sides of differing lengths
- Not A Triangle: the given values of A, B, and C don't form a triangle

In [37]:
# first, figure out whether each row forms a triangle, which means that 
# if one of sides is longer than the sum of other two sides, that doesn't form a triangle.
# then, set the type of triangles

import pandas as pd

triangles = pd.read_csv('TRIANGLES.csv')
triangles['Type'] = ''

for i, row in triangles.iterrows():
    if row[0] > row[1] + row[2] or row[1] > row[2] + row[0] or row[2] > row[1] + row[0]:
        triangles.loc[i, 'Type'] = 'Not A Triangle'
    else:
        if row[0] == row[1] == row[2]:
            triangles.loc[i, 'Type'] = 'Equilateral'
        elif row[0] == row[1] or row[0] == row[2] or row[1] == row[2]:
            triangles.loc[i, 'Type'] = 'Isosceles'
        else:
            triangles.loc[i, 'Type'] = 'Scalene'
            
triangles['Type']

0         Isosceles
1       Equilateral
2           Scalene
3    Not A Triangle
Name: Type, dtype: object

## The PADS
Question1: query an alphabetically ordered list of all names in Occupations, immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). For example: AnActorName(A), ADoctorName(D), AProfessorName(P), and ASingerName(S).

Question2: Query the number of occurences of each occupation in Occupations. Sort the occurences in ascending order, and output them in the following format: `There are a total of [occupation_count] [occupation]s.` [occupation] is the lowercase occupation name. If more than one occupation has the same [occupation_count], they should be ordered alphabetically.

In [77]:
# question 1

import pandas as pd

occupations = pd.read_csv('Occupations.csv')
occupations['Name_O'] = ''

for i, occupation in enumerate(occupations['Occupation']):
    if occupation == 'Doctor':
        occupations.loc[i, 'Name_O'] = occupations.loc[i,'Name'] + '(D)'
    elif occupation == 'Actor':
        occupations.loc[i, 'Name_O'] = occupations.loc[i,'Name'] + '(A)'
    elif occupation == 'Singer':
        occupations.loc[i, 'Name_O'] = occupations.loc[i,'Name'] + '(S)'
    else:
        occupations.loc[i, 'Name_O'] = occupations.loc[i,'Name'] + '(P)'



result1 = occupations['Name_O']
result1

0     Samantha(D)
1        Julia(A)
2        Maria(A)
3        Meera(S)
4       Ashely(P)
5        Ketty(P)
6    Christeen(P)
7         Jane(A)
8        Jenny(D)
9        Priya(S)
Name: Name_O, dtype: object

In [104]:
# Question 2
occupations.drop(columns='Name_O', inplace=True)

result2 = occupations.groupby('Occupation').agg('count')
result2 = result2.sort_values(['Name', 'Occupation']).reset_index()
result2['Explanation'] = ''

for i, occupation in enumerate(result2['Occupation']):
    result2.loc[i, 'Explanation'] = ('There are a total of ' + str(result2.loc[i, 'Name']) 
                                         + ' ' + result2.loc[i, 'Occupation'].lower() + 's.')      
result2 = result2['Explanation']
result2

0       There are a total of 2 doctors.
1       There are a total of 2 singers.
2        There are a total of 3 actors.
3    There are a total of 3 professors.
Name: Explanation, dtype: object

## Occupations
Question: Pivot the Occupation column in OCCUPATIONS so that each Name is sorted alphabetically and displayed underneath its corresponding Occupation. The output column headers should be Doctor, Professor, Singer, and Actor, respectively.

In [160]:
import pandas as pd

df = pd.read_csv('Occupations.csv')
groups = df.groupby('Occupation')['Name'].apply(list).reset_index()
result = groups.T
new_header = result.iloc[0]
result = result[1:]
result.columns = new_header
result = result[['Doctor', 'Professor', 'Singer', 'Actor']]
result
# groups = df.groupby('Occupation').agg(lambda x: list(x))
# groups
# for name, group in groups:
#     print(name)
#     print(group)

Occupation,Doctor,Professor,Singer,Actor
Name,"[Samantha, Jenny]","[Ashely, Ketty, Christeen]","[Meera, Priya]","[Julia, Maria, Jane]"