# HackerRank SQL Solutions, using Pandas

## Higher than 75 marks
Question: Query the Name of any students in Students who scored higher than 75 marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters such as Bobby, Robby, etc., secondary sort them by ascending ID.

In [34]:
# There are three conditions.
# condition 1: higher than 75 marks
# condition 2: order by the last three characters of each name
# condition 3: if the condition 2 is the same, secondary sort them by ID in ascending order

import pandas as pd

students = pd.read_csv('Students.csv')
result = students[students['Marks']>75].reset_index(drop=True)

for i, name in enumerate(result['Name']):
    result.loc[i, 'LastThree'] = name[-3:]
    
result = result.sort_values(by=['LastThree'], ascending=['True'])
result

   ID    Name  Marks LastThree
0   1  Ashley     81       ley
1   3   Julia     76       lia
2   4  Belvet     84       vet